<!DOCTYPE html>
<html>
	<head>
  
		<meta charset="utf-8">
		<title>Tyler Conlee</title>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  		<link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
  		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="./css/style.css" rel="stylesheet" />
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-56661238-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>
	<body>
		<header class="navigation" role="banner">
		  	<div class="navigation-wrapper">
				<a href="javascript:void(0)" class="logo">
			  		<i class="fa fa-file-code-o fa-2x" style="color:#fff; margin-top: 15px"></i>
				</a>
				<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
				<nav role="navigation">
			  		<ul id="js-navigation-menu" class="navigation-menu show">
						<li class="nav-link"><a href="javascript:void(0)">Portfolio</a></li>
						<li class="nav-link"><a href="javascript:void(0)">About</a></li>
						<li class="nav-link"><a href="javascript:void(0)">Blog</a></li>
						<li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
			  		</ul>
				</nav>
				<div class="navigation-tools">
			  		<a href="http://blog.tylerconlee.com" class="sign-up">View Blog</a>
				</div>
		  	</div>
		</header>
		{{{body}}}
		<footer class="footer" role="contentinfo">
		  	<div class="footer-logo">
		    	<i class="fa fa-file-code-o fa-2x" style="color:#fff"></i>
		  	</div>
		  	<div class="footer-links">
			    <ul>
			      	<li><h3>Content</h3></li>
			      	<li><a href="javascript:void(0)">About</a></li>
			      	<li><a href="javascript:void(0)">Contact</a></li>
			      	<li><a href="javascript:void(0)">Blog</a></li>
			    </ul>
		    	<ul>
		      		<li><h3>Follow Us</h3></li>
		      		<li><a href="http://github.com/tylerconlee">GitHub</a></li>
		      		<li><a href="http://twitter.com/tylerconlee">Twitter</a></li>
		      		<li><a href="http://linkedin.com/tylerconlee">LinkedIn</a></li>
	    		</ul>
		  	</div>
		  	<hr>
		  	<p>Disclaimer area lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nostrum repudiandae saepe.</p>
		</footer>

		<script src='js/all.min.js'></script>
	</body>
</html>
