<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<meta name="google-site-verification" content="TpJkNOD8ceYmGhkMbRucMO8UKoH8CegqrWetC0f4XAw" />
		<title>Tyler Conlee</title>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
  		<link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
  		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link href="./css/style.css" rel="stylesheet" />
		<script>
		eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('(4(i,s,o,g,r,a,m){i[\'d\']=r;i[r]=i[r]||4(){(i[r].q=i[r].q||[]).c(e)},i[r].l=1*f b();a=s.j(o),m=s.5(o)[0];a.6=1;a.7=g;m.8.k(a,m)})(h,x,\'z\',\'//w.v-3.p/3.u\',\'2\');2(\'B\',\'n-t-1\',\'A\');2(\'y\',\'9\');',38,38,'||ga|analytics|function|getElementsByTagName|async|src|parentNode|pageview||Date|push|GoogleAnalyticsObject|arguments|new||window||createElement|insertBefore|||UA||com||||56661238|js|google|www|document|send|script|auto|create'.split('|'),0,{}))

		</script>
	</head>
	<body>
		<header class="navigation" role="banner">
		  	<div class="navigation-wrapper">
				<a href="/" class="logo">
			  		<i class="fa fa-file-code-o fa-2x" style="color:#fff; margin-top: 15px"></i>
				</a>
				<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
				<nav role="navigation">
			  		<ul id="js-navigation-menu" class="navigation-menu show">
						<li class="nav-link"><a href="/portfolio">Portfolio</a></li>
						<li class="nav-link"><a href="/about">About</a></li>
						<li class="nav-link"><a href="http://blog.tylerconlee.com">Blog</a></li>
						<li class="nav-link"><a href="/contact">Contact</a></li>
			  		</ul>
				</nav>
				<div class="navigation-tools">
			  		<a href="http://blog.tylerconlee.com" class="sign-up">View Blog</a>
				</div>
		  	</div>
		</header>
		{{{body}}}
		<footer class="footer" role="contentinfo">
		  	<div class="footer-logo">
		    	<i class="fa fa-file-code-o fa-2x" style="color:#fff"></i>
		  	</div>
		  	<div class="footer-links">
			    <ul>
			      	<li><h3>Content</h3></li>
			      	<li><a href="/about">About</a></li>
			      	<li><a href="/contact">Contact</a></li>
			      	<li><a href="http://blog.tylerconlee.com">Blog</a></li>
			    </ul>
		    	<ul>
		      		<li><h3>Follow Me</h3></li>
		      		<li><a href="http://github.com/tylerconlee">GitHub</a></li>
		      		<li><a href="http://twitter.com/tylerconlee">Twitter</a></li>
		      		<li><a href="http://linkedin.com/tylerconlee">LinkedIn</a></li>
	    		</ul>
					<ul>
						<a class="twitter-timeline" href="https://twitter.com/TylerConlee" data-widget-id="651103416354107392">Tweets by @TylerConlee</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	    		</ul>
		  	</div>
		  	<hr>
		  	<p>&copy; 2015 - Tyler Conlee.</p>
		</footer>

		<script src='js/all.min.js'></script>
	</body>
</html>
