<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <h4>About Me</h4>
      <h1>Developing one day at a time</h1>
      <p>Originally from Calfornia, I've lived in the Portland, Oregon area since 2005 and don't see myself leaving the Pacific Northwest. I started in development when I was in high school, taking classes on basic C#, and working in a drag and drop game development tool known as FPS Creator. Eventually I won a Best of the Best award from the creators of FPS Creator, The Game Creators. After high school, I worked several service industry jobs until I started working at Logical Position, an internet marketing firm based out of Lake Oswego, Oregon. At Logical Position, I started as an outbound sales marketer, then moved my way around the office there before ending up as the Development Manager. In that position, I taught myself how to make an iPhone app, how to create applications in PHP and much more. In mid-2015, I was approached by a friend of mine to apply at New Relic. Shortly after, I started working at New Relic as a Technical Support Engineer, providing product support for customers and expanding my development knowledge.  </p>
  </div>
</div>
