<div class="hero">
	<div class="hero-inner">
	<a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image"></a>
		<div class="hero-copy">
			<h1>Tyler Conlee</h1>
			<p>Developer - Portland, Oregon</p>	
		</div>
	<button>View Portfolio</button>
	</div>
</div>
<article>
	<div class="grid-items">
	  <a href="javascript:void(0)" class="grid-item">
	    <i class="fa fa-user"></i>
	    <h1>About Me</h1>
	    <p>Check out my resume and bio</p>
	  </a>
	  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
	    <i class="fa fa-newspaper-o"></i>
	    <h1>Inquisitive Developer - My Blog</h1>
	    <p>Read my latest thoughts or tutorials on my blog</p>
	  </a>
	  <a href="javascript:void(0)" class="grid-item grid-item-big">
	    <i class="fa fa-file-code-o"></i>
	    <h1>Portfolio</h1>
	    <p>View all of my previous development work</p>
	  </a>
	  <a href="javascript:void(0)" class="grid-item">
	    <i class="fa fa-comments"></i>
	    <h1>Contact Me</h1>
	    <p>Get a hold of me for your next project! </p>
	  </a>
	</div>

</article>