<div class="cards">
  <div class="card">
    <div class="card-image">
      <img src="images/lpdashlogin.png" alt="">
    </div>
    <div class="card-header">
      Logical Position Client Dashboard
    </div>
    <div class="card-copy">
      <p>Originally built using Laravel 4.2, and then recently upgraded to Laravel 5.1 LTS, the LP Client Dashboard is a CRM application for both employees and clients to use to manage and access their advertising account data. This application had numerous data APIs integrated, including Google AdWords, QuickBase and more. Details and screenshots for this application are not available due to the sensitive nature of the data being displayed.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-4.png" alt="">
    </div>
    <div class="card-header">
      Project Two
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
    </div>
  </div>

  <div class="card">
    <div class="card-image">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains-3.png" alt="">
    </div>
    <div class="card-header">
      Project Three
    </div>
    <div class="card-copy">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
